*{
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;

    }
    
    @media all and (min-width: 375px){
        transform: scale(.5);
    }
    
    
    body{
       
        height: 100vh;
        background-image: radial-gradient(gray 9.9%, black 90.1%);
        background-size: cover;
        overflow: hidden;
    }
    .imgUsuario{
        position: absolute;
        width: 3em;
        border-radius: 50%;
        left: 722px;
        top: 15px;
        z-index: 1;
    }
    .userInfo{
        margin-left:54px;
    }
    header{
        height: 45px;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.185);
        margin: 20px;
    
    }
    .logo{
        position:absolute;
        width: 9em;
        padding: 1em;
        left: 680px;;
        top:-.3em;
    }
    .logIn{
        background-image:radial-gradient(white 9.9%, rgba(138, 138, 138, 0.76) 90.1%);
        border: none;
        top: 10em;
        border-radius: .5em;
        border-top-left-radius: .1em;
        border-bottom-right-radius: .1em;
        border: groove .2em transparent; 
        animation: 3s bordeXYZ infinite;
        position: fixed;
    
        font-size: 1.3em;
        z-index: 1;
        left: 7.5em;
        height: 2em;
        width: 5.5em;
        cursor: pointer;
    }
    @keyframes  bordeXYZ{
        0%{
            
            border-bottom-color: rgba(63, 63, 226, 0.705);
        }
        50%{
            border-bottom-color: antiquewhite;
            border-left-color: rgba(63, 63, 226, 0.274);
        }
        100%{
            border-left-color: antiquewhite;
        }
    }
    
    .logOut{
        background-image:radial-gradient(white 9.9%, rgba(138, 138, 138, 0.76) 90.1%);
        border: none;
        border-radius: .5em;
        border-top-left-radius: .1em;
        border-bottom-right-radius: .1em;
        border: groove .2em transparent; 
        animation: 3s borde2XYZ infinite;
        position: fixed;
        top:0;
        font-size: 1.3em;
        z-index: 1;
        right: 10px;
        height: 2.3em;
        width: 5.5em;
        cursor: pointer;
    }
    @keyframes  borde2XYZ{
        0%{
            
            border-bottom-color: rgba(226, 63, 63, 0.705);
        }
        50%{
            border-bottom-color: antiquewhite;
            border-left-color: rgba(226, 63, 63, 0.274);
        }
        100%{
            border-left-color: antiquewhite;
        }
    }
    .logOut:hover{
        transform:scale(1.1);
    }
    main {
        position: relative;
        width: 1145px;
        height: 655px;
        margin: auto;
        margin-top: 50px;
        
    }
    .bar{
        position: absolute;
        height: 100%;
        top: 243px;
        left: 308px;
        
    }
    .barra{
        position: absolute;
        top: 407px;
        bottom: 221px;
        margin: auto;
        width: 877px;
        height: 590px;
        z-index: 1;
    }
    
    .barman{
        position: absolute;
        width: 167px;
        z-index: 2;
        left: 75px;
        top:-11px;
       
    }
    .beerMenu{
        position: absolute;
        z-index: 2;
        height: 198px;
        width: 395px;
        top: 50px;
        left: 465px;
    
    }
    .bancoS{
        top: 340px;
        display: grid;
        grid-template-columns: repeat(3, 112px);
        grid-column-gap: 112px;
        position: absolute;
        z-index: 3;
        left: 200px;
    }
    .banco1, .banco2, .banco3{ 
        width: 95px;
        z-index: 3;
        margin: -61px;
       
    }
    
    .mainMenu{
        position: absolute;
        top: 67px;
        left: 5px;
        width: 400px;
        height: 525px;
        z-index: 0;
    }
    
    .Slogin{
        z-index: 0;
    }

  
 

  

